body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Sunflower", sans-serif;
}

#level-title {
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 70%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-start {
  width: 300px;
  font-size: 50px;
  margin: 40px;
  background-color: rgb(55, 202, 50);
  color: #fff;
  font-family: "Sunflower", sans-serif;
  box-shadow: 1px 1px 1px 1px black;
}

.rules-container {
  margin-bottom: 70px;
}

.rules-title {
  margin-bottom: 30px;
  font-size: 50px;
  color: red;
}

.rules {
  color: rgb(255, 236, 65);
  font-size: 20px;
}
